@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #640c44 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #640c44 !important;
  border-color: #640c44 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #17030f !important;
  border-color: #17030f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #17030f !important;
  border-color: #17030f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #683d60 !important;
  border-color: #683d60 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #311d2e !important;
  border-color: #311d2e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #311d2e !important;
  border-color: #311d2e !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #640c44;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #17030f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #640c44 !important;
  border-color: #640c44 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #683d60;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #311d2e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #683d60 !important;
  border-color: #683d60 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #640c44 !important;
}
.text-secondary {
  color: #683d60 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #090106 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #281725 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #cccccc !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #640c44;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-gallery-filter li.active .btn {
  background-color: #640c44;
  border-color: #640c44;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #640c44;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d61a91;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #640c44 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #640c44;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #640c44;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #640c44;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #640c44;
  border-bottom-color: #640c44;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #640c44 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #683d60 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23640c44' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sbybQ200HI {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sbybQ200HI nav.navbar {
  position: fixed;
}
.cid-sbybQ200HI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sbybQ200HI .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sbybQ200HI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sbybQ200HI .dropdown-item:hover,
.cid-sbybQ200HI .dropdown-item:focus {
  background: #640c44 !important;
  color: white !important;
}
.cid-sbybQ200HI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sbybQ200HI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sbybQ200HI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-sbybQ200HI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sbybQ200HI .nav-link {
  position: relative;
}
.cid-sbybQ200HI .container {
  display: flex;
  margin: auto;
}
.cid-sbybQ200HI .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sbybQ200HI .dropdown-menu,
.cid-sbybQ200HI .navbar.opened {
  background: #ffffff !important;
}
.cid-sbybQ200HI .nav-item:focus,
.cid-sbybQ200HI .nav-link:focus {
  outline: none;
}
.cid-sbybQ200HI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sbybQ200HI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sbybQ200HI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-sbybQ200HI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sbybQ200HI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sbybQ200HI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sbybQ200HI .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sbybQ200HI .navbar.opened {
  transition: all .3s;
}
.cid-sbybQ200HI .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-sbybQ200HI .navbar .navbar-logo img {
  width: auto;
}
.cid-sbybQ200HI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sbybQ200HI .navbar.collapsed {
  justify-content: center;
}
.cid-sbybQ200HI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sbybQ200HI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sbybQ200HI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sbybQ200HI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sbybQ200HI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sbybQ200HI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sbybQ200HI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sbybQ200HI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sbybQ200HI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sbybQ200HI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sbybQ200HI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sbybQ200HI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sbybQ200HI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sbybQ200HI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sbybQ200HI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sbybQ200HI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sbybQ200HI .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sbybQ200HI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sbybQ200HI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sbybQ200HI .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sbybQ200HI .navbar.navbar-short {
  min-height: 60px;
}
.cid-sbybQ200HI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sbybQ200HI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sbybQ200HI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sbybQ200HI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sbybQ200HI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sbybQ200HI .dropdown-item.active,
.cid-sbybQ200HI .dropdown-item:active {
  background-color: transparent;
}
.cid-sbybQ200HI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sbybQ200HI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sbybQ200HI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sbybQ200HI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sbybQ200HI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sbybQ200HI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sbybQ200HI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sbybQ200HI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sbybQ200HI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-sbybQ200HI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sbybQ200HI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sbybQ200HI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sbybQ200HI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sbybQ200HI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sbybQ200HI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sbybQ200HI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sbybQ200HI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sbybQ200HI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sbybQ200HI .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sbybQ200HI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sbybQ200HI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sbybQ200HI .navbar {
    height: 70px;
  }
  .cid-sbybQ200HI .navbar.opened {
    height: auto;
  }
  .cid-sbybQ200HI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sbyd6oM6yq {
  display: flex;
  background-image: url("../../../assets/images/basedrdocs.png");
}
.cid-sbyd6oM6yq .mbr-overlay {
  background-color: #353535;
  opacity: 0.3;
}
.cid-sbyd6oM6yq .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 768px) {
  .cid-sbyd6oM6yq {
    align-items: center;
  }
  .cid-sbyd6oM6yq .row {
    justify-content: center;
  }
  .cid-sbyd6oM6yq .content-wrap {
    width: 100%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sbyd6oM6yq .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-sbyd6oM6yq {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-sbyd6oM6yq .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-sbyd6oM6yq .content-wrap {
    width: 100%;
  }
}
.cid-sbycpYmYt7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-scAyPzVJpv {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-scAyPzVJpv .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cid-scAyPzVJpv .item .icon-wrap {
  text-align: center;
}
.cid-scAyPzVJpv .item span {
  font-size: 2rem;
  color: #ffffff;
  line-height: 60px;
}
.cid-scAyPzVJpv .item::before {
  content: "\e96b";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: -15px;
  top: 12%;
  color: #6592e6;
}
.cid-scAyPzVJpv .item.first:before {
  display: none;
}
.cid-scAyPzVJpv .item.five:before {
  display: none;
}
.cid-scAyPzVJpv .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.cid-scAyPzVJpv .text-box {
  margin-top: 1rem;
  text-align: center;
}
.cid-scAyPzVJpv .mbr-iconfont {
  color: #640c44 !important;
  position: absolute;
  top: 50%;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-scAyPzVJpv .item:before {
    display: none;
  }
  .cid-scAyPzVJpv .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sc1CBe4gdW {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sc1CBe4gdW .card-box {
  padding: 2rem;
  width: 58.33%;
}
.cid-sc1CBe4gdW .img-wrapper {
  width: 41.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sc1CBe4gdW .img1 {
  background: #ffe161;
}
.cid-sc1CBe4gdW .img2 {
  background: #6592e6;
}
.cid-sc1CBe4gdW .mbr-iconfont {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-sc1CBe4gdW .card {
  margin: auto;
  min-height: 280px;
  transition: all 0.3s;
}
.cid-sc1CBe4gdW .card-wrapper {
  background: #fafafa;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-sc1CBe4gdW .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sc1CBe4gdW .card-wrapper {
    flex-direction: column;
  }
  .cid-sc1CBe4gdW .card-box {
    padding: 1rem;
  }
  .cid-sc1CBe4gdW .card-box,
  .cid-sc1CBe4gdW .img-wrapper {
    width: 100%;
  }
  .cid-sc1CBe4gdW .img-wrapper {
    padding: 4rem 1rem;
  }
  .cid-sc1CBe4gdW .mbr-flex {
    flex-direction: column-reverse;
  }
}
.cid-sc1CBe4gdW .card-subtitle {
  color: #0077ff;
}
.cid-sc1CBe4gdW .mbr-text,
.cid-sc1CBe4gdW .link-wrap {
  color: #555555;
}
.cid-sbyc99h057 {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sbyc99h057 .carousel-item {
  justify-content: center;
}
.cid-sbyc99h057 .carousel-item.active,
.cid-sbyc99h057 .carousel-item-next,
.cid-sbyc99h057 .carousel-item-prev {
  display: flex;
}
.cid-sbyc99h057 .carousel-controls a {
  transition: opacity .5s;
  font-size: 30px;
  position: absolute;
  top: 180px;
  bottom: auto;
  height: 60px;
  width: 60px;
  padding: 10px;
  color: #155ce0;
}
.cid-sbyc99h057 .carousel-controls a .mbr-iconfont {
  font-weight: 800;
}
.cid-sbyc99h057 .carousel-control-next span {
  padding-left: 5px;
}
.cid-sbyc99h057 .carousel-control-prev span {
  padding-right: 5px;
}
.cid-sbyc99h057 .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-sbyc99h057 .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 230px) {
  .cid-sbyc99h057 .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-sbybrmuxrA {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sbybrmuxrA img {
  width: 120px;
  margin: auto;
}
.cid-sbybrmuxrA .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sbybrmuxrA .card {
    max-width: 12.5%;
  }
}
.cid-sbyaNKdFl6 {
  background-color: #ffffff;
}
.cid-sbyaNKdFl6 .mbr-text,
.cid-sbyaNKdFl6 .mbr-section-btn {
  color: #232323;
}
@media (max-width: 991px) {
  .cid-sbyaNKdFl6 .mbr-text,
  .cid-sbyaNKdFl6 .mbr-section-title {
    text-align: center;
  }
}
.cid-sbyaNKdFl6 a.btn {
  height: 100%;
  margin: 0;
}
.cid-sbyaNKdFl6 .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: 100%;
}
.cid-sbyaNKdFl6 .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-sbyaNKdFl6 .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-sbyaNKdFl6 .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-sbyaNKdFl6 .justify-content-center {
  align-items: center;
}
.cid-sbyaNKdFl6 .mbr-text {
  text-align: left;
}
.cid-scAzrRbUi7 {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-scAzrRbUi7 .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-scAzrRbUi7 .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-scAzrRbUi7 .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-scAzrRbUi7 .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-scAzrRbUi7 .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #640c44;
}
.cid-sbyaDFUKiA {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #640c44;
}
.cid-sbyaDFUKiA .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sbyaDFUKiA .social-row {
  width: 100%;
  justify-content: center;
}
.cid-sbyaDFUKiA .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sbyaDFUKiA .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sbyaDFUKiA .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-sbyaDFUKiA .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-sbyaDFUKiA .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sbyaDFUKiA .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-sbyaDFUKiA .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sbyaDFUKiA .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-sbyaDFUKiA .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sbyaDFUKiA .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sbyaDFUKiA .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sbyaDFUKiA .media-container-row .row-copirayt p {
  width: 100%;
}
